* {
  /*reset padding and margin to ensure that all elements starts with the same padding and margin*/
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  max-width: 500px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background: linear-gradient(45deg, #85FFBD, #FFFB7D);
  padding: 15px;
}
